body
{
    background: url('logo.jpeg');
    font-family: Arial, serif;
    color: #E45523;
}
#bloc_page
{
    width: 1000px;
    margin: auto;
}

ul {
  background: ##FFB6C1;
}
li, [class*="grid"] > * {
  background: ##FFB6C1;
}
header, footer {
  background: ##FFB6C1
}
main {
  background: ##FFB6C1;
}
aside {
  background: ##FFB6C1;
  body
{
    background: url('mariage.jpeg');
    font-family: Arial, serif;
    color: #E45523;
}